body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: #E00A24;
}

h1 {
    text-align: center;
}

#animal-list {
    display: flex;
    flex-direction: initial;
    align-items: center;
    margin-top: 20px;
}

#animal-list div {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    border-color: black;
}

#animal-details {
    margin-top: 20px;
    text-align: center;
}

#add-animal-form {
    display: flow-root;
    flex-direction: column;
    align-items: normal;
    margin-top: 20px;
}

#add-animal-form label {
    font-style: oblique;
    font-weight: bold;
}

#add-animal-form input {
    margin-bottom: 10px;
    padding: 5px;
    width: 250px;
}

#add-animal-form button {
    padding: 10px 20px;
    background-color: #AA0707;
    color: rgb(10, 10, 10);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 12px;
    width: 180px;
    transition: all 0.2s ease;
}

#add-animal-form button:hover {
    transform: scale(1.2);
    background-color: #4F0832;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#add-aanimal-form button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: scale(0.96px);
}
